
@media screen and (max-width: 7680px),
  (max-width: 2560px),
  (max-width: 1440px),
  (max-width: 1024px) {
  .box-m-display {
    float: right;
  }
  .dispatch-table {
    display: block;
  }

  .dispatch-list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .box-m-display {
    float: right;
  }
  .dispatch-table {
    display: none;
  }
  .border-none {
    border: none;
  }
  .dispatch-list {
    display: block;
  }
  .itshowprintExport {
    display: none;
  }
  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }
  .main .container-fluid {
    padding: 3px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  .card-header {
    background: white;
  }
  .card-header,
  .card {
    border: none;
  }
  .btnsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 1px;
    margin-bottom: -1px;
  }
}
@media screen and (max-width: 425px) {
  .box-m-display {
    float: left;
  }
  .checklist-title {
    margin-bottom: 15px;
  }
  .main .container-fluid {
    padding: 3px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  .card-header {
    background: white;
  }
  .card-header,
  .card {
    border: none;
  }
  .btnsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}
@media screen and (max-width: 375px) {
  .box-m-display {
    float: left;
  }
  .wizard-footer-left {
    margin-bottom: 10px;
    width: 100%;
  }
  .wizard-footer-right {
    width: 100%;
  }
  .wizard-btn {
    width: 100%;
  }
  .checklist-title {
    margin-bottom: 15px;
  }
  .main .container-fluid {
    padding: 3px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  .card-header {
    background: white;
  }
  .card-header,
  .card {
    border: none;
  }
  .btnsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}
@media screen and (max-width: 320px) {
  .box-m-display {
    float: left;
  }
  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }
  .itshowprintExport {
    display: none;
  }
  .dispatch-table {
    display: none;
  }
  .border-none {
    border: none;
  }
  .dispatch-list {
    display: block;
  }

  .main .container-fluid {
    padding: 3px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  .card-header {
    background: white;
  }
  .card-header,
  .card {
    border: none;
  }
  .btnsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .wizard-tab-content {
    min-height: 100px;
    padding: 0;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 1px;
    margin-bottom: -1px;
  }
}

div.m-action-button {
  float: left;
  position: relative;
  margin: 2px;
  background: #2ecc71;
  width: 100%;
}
div.list-field {
  position: relative;
  margin: 2px;
}
.dis {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 550;
  line-height: 32px;
  margin: 0 0 24px;
}
.btn-remove {
  background: #ff6a6a;
  text-align: center;
}
.subtitle-row {
  transition: left 0.25s, right 0.25s, width 0.25s;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  list-style: none;
  background-color: #fff;
  position: relative;
  border-radius: 0;
  border-bottom: 1px solid #c8ced3;
}
.subtitle-text {
  width: 100%;
  z-index: 10px;
}
.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  margin: 5px;
}
/*image gallery*/
.delete {
  cursor: pointer !important;
  font-size: 20px;
  position: absolute;
  color: white;
  border: none;
  background: none;
  right: 5px;
  top: 2px;
  line-height: 1;
  z-index: 99;
  padding: 0;
}
.delete span {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: block;
}
.mobile-thumnail {
  width: calc((100% - 30px) * 0.333);
  margin: 5px;
  width: 150px;
  height: 150px;
  float: left;
  box-sizing: border-box;
  position: relative;
}
.box {
    margin: 2px;
    padding: 2px;
    border: 1px solid #ccc;
}

.box:hover,
.mobile-thumnail:hover {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5);
}
.mobile-thumnail {
  width: 130px;
  height: 130px;
}
.mobile-thum-size {
  width: 130px;
  height: 130px;
}
.mobile-thumnail {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* .box .image .mobile-thumnail {
  width: 75px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.box .image img .mobile-thumnail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
} */
.bg-background:hover {
  background: #00688b;
  cursor: pointer;
}
.bg-background {
  color: white;
  background: #009acd;
}
@media print {
  .card-header,
  .b-table-details,
  #breadview,
  .action-button,
  #headview,
  #department {
    display: none;
  }
  .card {
    border: 1px solid black;
  }
}
.signature-thumnail {
  width: 250px;
  height: 100px;

  box-sizing: border-box;
}

.width-1015 {
  width: 1015px;
  margin: 0 auto;
}

.width-200 {
  width: 200px;
}

.width-180 {
  width: 180px;
}

.width-150 {
  width: 150px;
}

.width-130 {
  width: 130px;
}

.width-120 {
  width: 120px;
}

.width-110 {
  width: 110px;
}

.width-100 {
  width: 100px;
}

.width-90 {
  width: 90px;
}

.width-80 {
  width: 80px;
}

.width-70 {
  width: 80px;
}

.width-60 {
  width: 60px;
}

.width-50 {
  width: 50px;
}

.width-40 {
  width: 40px;
}

.width-30 {
  width: 30px;
}

.width-20 {
  width: 20px;
}

.width-10 {
  width: 10px;
}
.m-fl-r {
  margin-right: 50%;
}


.fab-container{

    position:fixed;

    bottom:50px;

    right:50px;

    cursor:pointer;

    }
    .iconbutton{

        width:50px;

        height:50px;

        border-radius: 100%;

        background: #FF4F79;

        box-shadow: 5px 5px 5px #aaaaaa;

        }

        .button{

        width:60px;

        height:60px;

      

        }
        .iconbutton i{

            display:flex;

            align-items:center;

            justify-content:center;

            height: 100%;

            color:white;

            }


